<div class="header">
    <nav class ="header_top">
      <div class ="header_menu">
        <div class ="header_menu_icon">
          <span class="material-icons">
            menu
            </span>
        </div>
        <img src = "https://pngimg.com/uploads/amazon/small/amazon_PNG25.png" width="200" height="50">
        
        <div class="header_menu_searchbar">
          <input type="text" class="header_menu_input">
          <div class="header_menu_searchbar_icon">
            <span class="material-icons">
              search
              </span>
  
          </div> 
        </div>
            <div class="header_menu_singin">
              <span class = "header_menu_top_item">Hello, Sign in</span>
              <span class = "header_menu_top_item">Accounts and list</span>
            </div>
  
          
          <div class="header_menu_singin">
            <span class = "header_menu_top_item">Returns</span>
            <span class = "header_menu_top_item">& Orders</span>
          </div>
          <div class="header_menu_cart">
            <span class="material-icons">
              shopping_cart
              </span>
              <p class = "header_cart_number">3</p>
          </div>
      </div>
    </nav>
    <nav class="header_bottom">
      <div class="header_location_text">
        <span class = "header_left_line_one">Delivery To</span>
        <span class="header_left_line_two"><strong>India</strong></span>
      </div>
    </nav>
  
  </div>