.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product > mat-card > img{
    object-fit: contain;
    height: 200px;
    
}

.product > mat-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.product > mat-card >button{
    margin-top: 20px;
    background-color: orange;
    border: 1px solid;
    border-color: orange;

}